.text {
  font: var(--body1);
}

.text.primary {
  color: var(--grey);
}

.text.secondary {
  font: var(--body2);
  color: var(--white);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .text.secondary {
    font: var(--body1);
    color: var(--white);
    margin: 0;
  }
}
