.title {
  font: var(--headline3);
  margin: 0;
}
.title.primary {
  color: var(--blue);
  margin: 0;
  margin-top: 1rem;
}

.title.secondary {
  color: var(--white);
  margin: 0;
  margin-top: 1rem;
}

.title-2 {
  margin: 0;
  font: var(--body1);
}

.title-2.primary {
  color: var(--grey);
  font-weight: 600;
  margin-top: 0.5rem;
}

.title-2.secondary {
  color: var(--white);
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}
